{% extends 'Shared/base_html.html' %}

{% block body %}

    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ثبت نام کاربـر جدیـد</h2>
                        <form method="post">
                            {% csrf_token %}


                            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            {{ form.username }}
                            {% for error in form.username.errors %}
                                {% if error != "This field is required." %}
                                <p style="color: darkred">{{ error }}</p>
                                {% endif %}
                            {% endfor %}


                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% for error in form.email.errors %}
                                {% if error != "This field is required." %}
                                <p style="color: darkred">{{ error }}</p>
                                {% endif %}
                            {% endfor %}


                            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                            {{ form.password }}


                            <label for="{{ form.repassword.id_for_label }}">{{ form.repassword.label }}</label>
                            {{ form.repassword }}
                            {% for error in form.password.errors %}
                                {% if error != "This field is required." %}
                                <p style="color: darkred">{{ error }}</p>
                                {% endif %}
                            {% endfor %}
                            {% for error in form.repassword.errors %}
                                {% if error != "This field is required." %}
                                <p style="color: darkred">{{ error }}</p>
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-default">ثبت نام</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
    <!--/form-->


{% endblock %}